header {
  text-align: center;
} 
figure {
  text-align: center;
}
header nav a {
  padding: 10px;
  background-color: lightcyan;
  display: inline-block;
  margin: 5px;
}
img caption{
  font-size: smaller;
  text-align: center;
}
p {
  margin:20px auto;
  width: 800px;
  text-align: center;
}
div {
  float: left;
}
.bottom-divs {
  background-color: lightcyan;
  text-align: center;
  width: 25%;
  float: left;
  margin: 10px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


